<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ping.android.activity">

    <!--<permission-->
        <!--android:name="com.ping.android.debug.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->

    <application
        android:name="com.ping.android.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.quickblox.messages.TYPE" android:value="FCM" />
        <meta-data android:name="com.quickblox.messages.SENDER_ID" android:value="@string/sender_id_debug" tools:replace="android:value"/>
        <meta-data android:name="com.quickblox.messages.QB_ENVIRONMENT" android:value="DEVELOPMENT" />


    </application>

</manifest>